body {
    background-color: #f3f3f3;
    font-family: Arial,Sans-serif;
}

h1 {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}

#api {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}

.apiWrap {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .apiWrap {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .apiWrap {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .apiWrap {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .apiWrap {
        max-width:1140px
    }
}

.api {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}

.api>div {
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 26px;
}

@media (min-width: 768px) {
    .api>div {
        flex:0 0 33.33333%;
        max-width: 33.33333%;
    }
}

.namespace {
    color: #333;
    background-color: white;
    border-radius: 8px;
    padding: 30px 35px;
    margin-bottom: 40px;
}

.api .tags {
    position: absolute;
    right: 32px;
    top: 12px;
}

.api .title {
    font-size: 28px;
    font-weight: bold;
    color: darkblue;
    margin-bottom: 10px;
}

.api .description {
    font-size: 18px;
    margin-bottom: 10px;
}

.api .version {
    border-radius: 5px;
    padding: 1px 6px 0;
    font-size: 14px;
    display: inline-block;
    background-color: lightblue;
}

.api .link a::before {
    content: "➥ "
}

.api .link a {
    text-decoration: none;
}